@keyframes getcrossed {
  to { top: 45%; }
}
@font-face {
  font-family: "SSSocialCircle";
  src:url('ss-social-circle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
.ss-icon {
  font-family: "SSSocialCircle";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: absolute;
  left: 45%;
  top: 33%;
  width: 7rem;
  height: 7rem;
  z-index: initial;
  line-height: 7rem;
  border-radius: 50%;
  transition: .3s;
  background: #f00;
  outline: none;
  // a very bad idea to set outline to none, but done here to tidy up the example.

  &:hover, &:focus {
    background: #333;
  }
  &:before, &:after, > span {
      position: absolute;
      left: 27%;
      content: "";
      display: block;
      width: 46%;
      top: 33%;
      height: 8%;
      background: #fff;
      transform-origin: center;
      transition: .3s .3s;
    }
  span {
      top: 46%;
    }
    &:after {
      top: 60%;
    }
  &.clicked:before, &.clicked:after {
      animation: getcrossed .4s forwards;
    }
 &.clicked:before {
      transform: rotate(180deg);
    }
    &.clicked:after {
      transform: rotate(-180deg);
    }
  &.clicked span#center-bar {
      opacity: 0;
    }
  &:hover {
    cursor: pointer;
  }
  &.clicked {
    background: #000;
    outline: none;
  }
  a {
  display: flex;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: red;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  position: absolute;
  font-size: 4rem;
  text-align: center;
  left: 1rem;
  top: 1rem;
  transition: .4s;
  z-index: -1;
    span {
      width: 5rem;
      height: 5rem;
  }
  &:hover, &:focus {
    background-color: #000;
  }
  }
  @for $i from 1 through 3 {
  $rot: (($i) * 90);
  a:nth-child(#{$i}) {
    transform: rotate(#{$rot}deg);
    span {
      transform: rotate(-#{$rot}deg);
       }
    }
    &.clicked a:nth-child(#{$i}) {
      transform: rotate(#{$rot}deg) translateX(7rem);
     }
   }
}
