@-webkit-keyframes getcrossed {
  to {
    top: 45%;
  }
}
@keyframes getcrossed {
  to {
    top: 45%;
  }
}
@font-face {
  font-family: "SSSocialCircle";
  src:url('ss-social-circle.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.ss-icon {
  font-family: "SSSocialCircle";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  position: absolute;
  left: 45%;
  top: 33%;
  width: 5rem;
  height: 5rem;
  z-index: initial;
  line-height: 7rem;
  border-radius: 50%;
  transition: .3s;
  background: #f00;
  outline: none;
}
nav:hover, nav:focus {
  background: #333;
}
nav:before, nav:after, nav > span {
  position: absolute;
  left: 27%;
  content: "";
  display: block;
  width: 46%;
  top: 33%;
  height: 8%;
  background: #fff;
  -webkit-transform-origin: center;
          transform-origin: center;
  transition: .3s .3s;
  z-index: 1;
}
nav span {
  top: 46%;
}
nav:after {
  top: 60%;
}
nav.clicked:before, nav.clicked:after {
  -webkit-animation: getcrossed .4s forwards;
          animation: getcrossed .4s forwards;
}
nav.clicked:before {
          transform: rotate(180deg);
}
nav.clicked:after {
          transform: rotate(-180deg);
}
nav.clicked span#center-bar {
  opacity: 0;
}
nav:hover {
  cursor: pointer;
}
nav.clicked {
  background: #000;
  outline: none;
}
nav a {
  display: flex;
  justify-content: flex-end;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: red;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
  position: absolute;
  font-size: 3rem;
  text-align: center;
  left: 0.5rem;
  top: 0.5rem;
  transition: .4s;
  z-index: -1;
}
nav a span {
  width: 4rem;
  height: 4rem;

}
nav a:hover, nav a:focus {
  background-color: #000;

}

nav a:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
nav a:nth-child(2) span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
nav.clicked a:nth-child(2) {
  -webkit-transform: rotate(-90deg) translateX(5rem);
          transform: rotate(-90deg) translateX(5rem);
          z-index: 1;

}
nav a:nth-child(3) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
nav a:nth-child(3) span {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
nav.clicked a:nth-child(3) {
  -webkit-transform: rotate(-40deg) translateX(5rem);
          transform: rotate(-40deg) translateX(5rem);
          z-index: 1;
}
nav a:nth-child(4) {
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}
nav a:nth-child(4) span {
  -webkit-transform: rotate(350deg);
          transform: rotate(350deg);
}
nav.clicked a:nth-child(4) {
  -webkit-transform: rotate(-350deg) translateX(5rem);
          transform: rotate(-350deg) translateX(5rem);
          z-index: 1;
}
nav a:nth-child(5) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
nav a:nth-child(5) span {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
nav.clicked a:nth-child(5) {
  -webkit-transform: rotate(-140deg) translateX(5rem);
          transform: rotate(-140deg) translateX(5rem);
          z-index: 1;
}
nav a:nth-child(6) {
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}
nav a:nth-child(6) span {
  -webkit-transform: rotate(190deg);
          transform: rotate(190deg);
}
nav.clicked a:nth-child(6) {
  -webkit-transform: rotate(-190deg) translateX(5rem);
          transform: rotate(-190deg) translateX(5rem);
          z-index: 1;
}
